/* Custom CSS */

body {
  background-color: #e0e0eb;
}

header {
  position: relative;
  background-color: whitesmoke;
  height: 100%;
  min-height: 100vh;
  width: 100%;  
  overflow: hidden;
  background: url("../content/main-background.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom center;
  background-size: cover;
}

header .container {
  position: relative;
  z-index: 2;
}

header .fullScreenCarousel {
  height: 100vh;
  min-height: 100vh;
  width: 100%;  

}

header .no-gutters {
  margin-right: 0;
  margin-left: 0;
  
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

}

.dat-700-font {
  font-weight: 700;
}

.dat-900-font {
  font-weight: 900;
}

.dat-icon {
  color:#505050;
  opacity:.4;
  margin-right: .3em;
}

.dat-handstand-icon {
  color:#ff9100;
  opacity:.7;
  margin-left: 1em;
  -webkit-transform: rotate(220deg);
  -moz-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  -o-transform: rotate(220deg);
  transform: rotate(220deg);  
}

.navbar-tl {
  /* in case I decide to do this again later */
  background-color:rgba(222,222,222, 0);
}

/* Other CSS */
